.customnav {
    height: 80px;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-link {
    color: white;
    padding: 10px;
}

.navbar-item a:hover {
    color: gold;
    text-decoration: none;
    border-bottom: 2px solid #fdbe00;
    font-weight: 400;
}

.product-container {
    padding-top: 85px;
}

.row {
    margin: 30px;
}

.title {
    color: #fdbe00;
}

hr {
    width: 330px;
    border: 2px solid #fdbe00;
    margin-top: 0px;
}

.product-category {
    position: relative;
    margin: 10px;
}

.product-category img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: dimgray;
}

.product-category:hover .overlay {
    opacity: 1;
}

.product-description {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: left;
}

.viewmorebtn {
    position: absolute;
    top: 50%;
    left: 30%;
}