/* css changes for homepage */

.homepage {
    background-color: black;
    color: white;
}

.company-name {
    margin-top: 50px;
}

.company-name p {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}

.company-tagline {
    margin-top: 120px;
    margin-bottom: 130px;
}

.company-tagline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.company-learnmorebtn {
    text-align: center;
    margin-bottom: 100px;
}


/* products category page */

.customnav {
    height: 80px;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-link {
    color: white;
    padding: 10px;
}

.navbar-item a:hover {
    color: gold;
    text-decoration: none;
    border-bottom: 2px solid #fdbe00;
    font-weight: 400;
}

.product-container {
    padding-top: 85px;
}

.row {
    margin: 30px;
}

.title {
    color: #fdbe00;
}

hr {
    width: 330px;
    border: 2px solid #fdbe00;
    margin-top: 0px;
}

.card {
    position: relative;
    margin: 10px;
}

.card-img {
    display: block;
    width: 100%;
    height: auto;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: dimgray;
}

.card:hover .card-img-overlay {
    opacity: 1;
}


/* featured products page  */